/* Main styles */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&Roboto:300');

/* Variables */

:root {
  --color-win: #78CF82;
  --color-lose: #D94545;
  --color-start: #2e7ddd;
  --color-neutral: #13347c;
  --color-neutral-light: #D2D2D2;
  --color-keys: #37474F;
  --color-keys-light: rgb(241, 240, 240);
  --font-size-large: 60px;
  --font-size-medium: 20px;
  --transition: all .2s ease-in-out;
}

/* main */

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  justify-content: space-evenly;
  flex-direction: column;
  background-color: var( --color-start);
  display: flex;
  height: 100vh;
}

li, ol, ul {
  padding: 0;
  display: inline-block;
}

h2 {
  margin: 0;
  text-transform: uppercase;
  font-size: var(--font-size-large);
  margin: 0;
}

h3 {
  margin: 0;
  text-transform: uppercase;
  font-size: 24px;
  margin: 0;
  color: #fff;
}

h1 {
  font-size: 30px;
}

button, 
input[type=submit],
.btn {
  margin: 6px;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  color: var(--color-keys);
  font-size: var(--font-size-medium);
  background-color: var(--color-keys-light);
  border-radius: 5px;
  border-bottom: solid 4px rgba(0, 0, 0, .3);
  border-right: solid 3px rgba(0, 0, 0, .3);
  cursor: pointer;
}
button:active,
input[type=submit]:active,
.btn:active
 {
  border-bottom: solid 4px rgba(0, 0, 0, 0);
  border-right: solid 3px rgba(0, 0, 0, 0);
}
input[type=submit].incorrect {
  background-color: var(--color-lose);
}
input[type=submit].correct {
  background-color: var(--color-win);
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  max-height: 900px;
  text-align: center;
}

.section {
  width: 100%;
  padding: 10px;
}

#phrase ul li{
  margin-top: 15px;
}

a {
  text-decoration: none;
  color:  #fff;
}

ul#rules {
  display: block;
  width:80%;
  margin: 0 auto;
  text-align: left;
  color: #fff;
  list-style: square outside none;
}

ul#rules li {
  display: list-item;
  text-align: -webkit-match-parent;
  padding: 7.5px 0;
  font-size: 18px;
}

#banner {
  height: 100vh;
  padding: 2rem;
}

/* Title */

.header {
  color:  #fff;
}


/* Phrase */

.letter {
  font-size: var(--font-size-medium);
  height: 65px;
  width: 65px;
  padding: 20px 1px 0 1px;
  margin-right: 2px;
  color: black;
  background: var(--color-neutral-light);
  border-radius: 5px;
}

.space {
  display: none;
}

.hide {
  color: transparent;
}

.show {
  color: #fff;
  background-color: var(--color-neutral);
  font-size: 24px;
  height: 65px;
  width: 65px;
  padding: 16px 1px 0 1px;
  margin-right: 2px;
  border-radius: 5px;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
}

.punctuation {
  font-size: 60px;
}

#phrase,
#phrase .word {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#phrase {
  justify-content: center;
}

#phrase .word {
  margin: 1rem 1rem;
}

/* Keyboard */

.keyrow {
  display: flex;
  justify-content: center;
}

input[type=submit].chosen {
  background: #3a3f58;
  border-radius: 5px;
  font-size: var(--font-size-medium);
  color: #FFFFFF;
}

.wrong {
  background: #f7a964;
  color: #FFFFFF;
}

#btn__reset {
  width: 200px;
	margin: 20px auto;
  padding: 16px;
  background: #f7a964;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  border-bottom: solid 4px rgba(0, 0, 0, .3);
  border-right: solid 3px rgba(0, 0, 0, .3)
}

#btn__reset:active {
  padding: 14px 16px 16px 14px;
  border-bottom: solid 4px rgba(0, 0, 0, 0);
  border-right: solid 3px rgba(0, 0, 0, 0);
}

/* Scoreboard */

#scoreboard {
  background-color: var(--color-keys-light);
  width: 20%;
  border-radius: 10px;
  margin: 15px auto 0;
}

#scoreboard h4{
  color: #000;
  padding: 0 0 12px 0;
  margin: 0;
}

/* Overlay */

#overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  color: #FFFFFF;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
}

.title {
  color: #FFF;
}

.start {
  background-color: #3a3f58;
}

.start a {
  color: #fff;
}

#game-over-message.win {
  background-color: var(--color-win);
}

.win a {
  color: var(--color-win);
}

#game-over-message.lose {
  background-color: #f5785f;
}

.lose a {
  color: var(--color-lose);
}

#game-over-message {
  margin: 5rem auto 9rem;
  width:80%;
  padding: 1rem;
  background-color: lightcoral;
  border-radius: 10px;

  color: #fff;
}

.buttons .btn {
  background: #f7a964;
}
